doctype html
html(lang="ja")
    include common/_head
    body
        .background

        p テスト

        //include common/_child_header.pug
        //include handson/_sec_handson.pug
        //include common/_footer.pug
        //.copyright
        //    a(href="https://twitter.com/kiri_sawa01" target="_blank") Designed by Yasui Risa