@import "lib/_value.scss";
@import "lib/_mixin.scss";

a {
  color: $blue;
  text-decoration: underline;
  &:hover {
    color: $orange;
  }
}
a.reset {
  color: inherit;
  text-decoration: underline;
}

p {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#session__child {
  text-align: center;    
  .session__child {
    &__title__background {
      @include section--title--background;
      background-image: url("../../img/heading_session.png");      
      color: #FFF;
    }
    &__content {
      &__summary {
        margin-bottom: 50px;
        font-family: $font_set_ja;
      }
      &__background {
        padding: 50px 0;
        background-color: rgba(199,232,245,0.8);
        @include mediaSP {
          padding: 50px 15px;
        }
        @include mediaPC {
          padding: 50px 30px;
        }
        .session-detail-list {
          width: 100%;
          margin: 0 auto;
          margin-bottom: 50px;
          max-width: 900px;
          &__item:not(:last-child) {
            margin-bottom: 50px;
          }
          &__item {
            border: solid 4px #FFF;
            color: #FFF;
            background-image: url("../../img/bg-2.jpg");
            width: 100%;
            box-sizing: border-box;
            text-align: left;
            padding: 40px;
            @include mediaPC {
              box-sizing: border-box
            }
            @include mediaSP {
              padding: 20px;
              box-sizing: border-box
            }
            .session-detail {
              &__title {
                font-size: 1.5em;
                font-family: $font_set_ja;
                font-weight: bold;
                @include mediaPC {
                  margin-bottom: 40px;
                }
                @include mediaSP {
                  margin-bottom: 10px;
                  font-size: 1.4em;
                }
              }
              &__summary {
                font-family: $font_set_ja;
                @include mediaPC {
                  margin-bottom: 3em;
                }
                @include mediaSP {
                  margin-bottom: 2em;
                  font-size: 1.1em;
                }
              }
              &__line {
                border-bottom: dotted 2px #FFF;
                @include mediaPC {
                  margin-bottom: 30px;                 
                }
                @include mediaSP {
                  margin-bottom: 10px;
                }
              }
              &__mentor {
                margin: 3em 0 2em;
                // display: flex;
                flex-wrap: wrap;
                @include mediaSP {
                  margin: 1.5em 0 2em;
                }
                &__icon {
                  float: left;
                  background-position: center;
                  background-size: contain;
                  border-radius: 100%;
                  margin-right: 20px;
                  @include mediaPC {
                    width: 200px;
                    height: 200px;                    
                  }
                  @include mediaSP {

                    width: 100px;
                    height: 100px;
                    margin-right: 5px;
                  }
                }
                &__name {
                  margin-bottom: 20px;
                  float: right;
                  font-weight: bold;
                  font-size: 1.2em;
                  font-family: $font_set_ja;
                  @include mediaPC {
                    width: calc(100% - 220px);
                    height: auto;      
                  }
                  @include mediaSP {
                    width: calc(100% - 105px);
                    height: 100px;
                    padding: 38px 0;
                    box-sizing: border-box;
                    margin-bottom: 10px;
                    font-size: 1em;
                  }
                }
                &__link {
                  margin-left: 20px;
                  border-radius: 50%;
                  border: solid 1px #FFF;
                  background-color: rgba(255,255,255,0.8);                  
                  display: inline-block;
                  text-align: center;
                  vertical-align: text-bottom;
                  i {
                    vertical-align: text-top;
                    color: #A8A19E;
                    font-size: 22px;
                    margin-top: -3px;
                    @include mediaSP {
                      vertical-align: middle;
                      font-size: 13px;
                      margin-top: -7px;
                    }               
                  }
                  @include mediaPC {
                    width: 30px;
                    height: 30px;
                  }
                  @include mediaSP {
                    width: 20px;
                    height: 20px;
                    margin-left: 6px;
                  }                  
                }
                &__introduction {
                  font-family: $font_set_ja;
                  font-size: 1em;
                  word-break: break-all;
                  float: right;
                  @include mediaPC {
                    width: calc(100% - 220px);
                  }
                  @include mediaSP {
                  }
                }
              }
              &__mentor:before, &__mentor:after{
                content: " ";
                display: table;
              }
              &__mentor:after{
                clear: both;
              }
            }
          }
          &__item--markup {
            background-position: 95% 10%;
            background-size: 500%;
            background-repeat: no-repeat;
          }
          &__item--designer {
            background-position: 95% 90%;
            background-size: 500%;
            background-repeat: no-repeat;
          }
          &__item--engineer {
            background-position: 0% 40%;
            background-size: 450%;
            background-repeat: no-repeat;
          }
        }
        .btn--to-top {
          @include btn--line();
          .to-top__link {
            @include btn;
          }
        }
      }            
    }
  }
}