@import "value";
@import "header";

.container {
  &_title {
    color: $color;
    text-decoration: underline;
  }
  &_subTitle {
    color: cornflowerblue;
  }
}
.button {
  @include button(lightblue, white);
}