doctype html
html(lang="ja")
    include ../../../../frontend/assets/tmpl/_head
    body
        .background
        include ../../../../frontend/assets/tmpl/common/_child_header
        include contest/_sec_contest
        include ../../../../frontend/assets/tmpl/common/_child_toMenu
        include top/_sec_share
        include ../../../../frontend/assets/tmpl/common/_footer
        .copyright
            a(href="http://chatbox-inc.com/page/member/yasui/" target="_blank") Designed by Yasui Risa