doctype html
html(lang="ja")
  include ../../../../frontend/assets/tmpl/_head
  body
    .background
    include top/_sec_hero
    include top/_sec_main_menu
    include top/_sec_concept
    include top/_sec_new_session
    include top/_sec_handson
    include top/_sec_discussion
    include top/_sec_product_contest
    include top/_sec_after_party
    include top/_sec_sponsoredBy
    include top/_sec_summary
    include top/_sec_share
    include ../../../../frontend/assets/tmpl/common/_footer
    .copyright
      a(href="https://twitter.com/kiri_sawa01" target="_blank") Designed by Yasui Risa