doctype html
html(lang="ja")
    include ../../../../frontend/assets/tmpl/_head
    body
        .background
        include session/_sec_session
        include ../../../../frontend/assets/tmpl/common/_child_toMenu
        include top/_sec_share
        include ../../../../frontend/assets/tmpl/common/_footer
        .copyright
            a(href="https://twitter.com/kiri_sawa01" target="_blank") Designed by Yasui Risa