//
   Created by chanu on 17/01/24.

section#handson
    .handson__title__background
        .container
            h1.handson__title HANDSON
            h2.handson__subtitle ハンズオン
    .handson__content__background
        .container
            p.handson__text
            | 昨年人気だったハンズオン企画を今年も開催します!
            br
            | 実際に手を動かしながらはやりのツールやフレームワークの学習ができます。
            br
            | メンターによるサポートもありますので初心者の方も是非、参加してみてください。
            ul.handson__lists
                li.handson__list.handson__list--designer
                    span.handson__list__head XD
                    p.handson__list__body XDを使ってモックアップを作ろう
                li.handson__list.handson__list--designer
                    span.handson__list__head Sketch
                    p.handson__list__body sketch を使ってチームで使う制作フローを体験しよう
                li.handson__list.handson__list--markup
                    span.handson__list__head gulp , Sass , Pug
                    p.handson__list__body gulpで学ぶSassとPug
                li.handson__list.handson__list--engineer
                    span.handson__list__head React
                    p.handson__list__body Reactで覚えるイマドキのフロントエンド開発
                li.handson__list.handson__list--markup
                    span.handson__list__head Netlify
                    p.handson__list__body Netlifyで作ったSPAやwebサイトを公開しよう
                li.handson__list.handson__list--engineer
                    span.handson__list__head Angular
                    p.handson__list__body Angular入門者ハンズオン
            .btn--handson
                a.handson__detaill__link(href="/handson.html")
                    span HANDSON 詳細をみる
            br