//
   Created by chanu on 17/01/24.

section#handson
    .handson__title__background
        .container
            h1.handson__title HANDSON
            h2.handson__subtitle ハンズオン
    .handson__content__background
        .container
            p.handson__text
            | 昨年人気だったハンズオン企画を今年も開催します!
            br
            | 実際に手を動かしながらはやりのツールやフレームワークの学習ができます。
            br
            | メンターによるサポートもありますので初心者の方も是非、参加してみてください。
            ul.handson__lists
                each handson in handson_lists
                    li
                        a(class="handson__list handson__list--"+handson.field)(href="./handson.html#"+handson.id)
                            span.handson__list__head #{handson.technology}
                            p.handson__list__body #{handson.title}
            .btn--handson
                a.handson__detaill__link(href="./handson.html")
                    span HANDSON 詳細をみる
            br
