doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no")
        link(rel="stylesheet", href="./assets/css/common.css")
    body
        include _head
        .container
            h1.container_title 2017年の FRONTEND CONFERENCE のコンセプトについて
            h2.container_subTitle テーマは「つながる」
            p
                |Web制作にまつわるフロントエンドの世界は今も大きく変化し続けています。
                |デザイン、コーディング、エンジニアリング、日々変化する技術の中から、必要なものを紡ぎ、
                |1つのWebページに「つないでいく」Webで働く全ての人のためのイベント、FRONTEND CONFERENCEでは、
                |現場に活きる様々なWeb制作のあり方をセッションやハンズオンイベントを通じて紹介していきます。
        a.button(href="#") ボタン