section#handson__child
    .handson__child__title__background
        .container
            h1.handson__title HANDSON
            h2.handson__subtitle ハンズオン
    .handson__child__content__background
        p.handson__child__content__summary
            | 昨年人気だったハンズオン企画を今年も開催します！
            br
            | 実際に手を動かしながら流行りのツールやフレームワークの学習ができます。
            br
            | メンターによるサポートもありますので初心者の方も是非、参加してみてください。
        .handson-list
                .handson-list__item(class="handson-list__item--designer" id=0)
                    .handson__info
                        .handson__info__technology
                            span XD
                        .handson__info__title XDを使ってプロトタイプを作ろう
                        p.handson__info__summary 今話題のAdobe XDのハンズオンになります。XDを使うメリットや実際に導入してみた感想、操作方法をご紹介します。後半では実際にXDを用いて、プロトタイプを製作するワークショップを予定しています。
                        .handson__info__target
                            span.handson__info__target__title こんな方にオススメ
                            br
                            wbr
                            .handson__info__target__item
                                span デザイナー
                    .handson__mentor
                        .handson__mentor__icon(style="background-image: url('./img/handson/mentor1.jpg')")
                        .handson__mentor__name
                            | Yasui Risa
                            a.handson__mentor__link(href="https://twitter.com/kiri_sawa01" ,target="_blank")
                                i.fa.fa-link
                        p.handson__mentor__introduction
                            | 株式会社chatboxのデザイナー、Webデザイン、パンフレット、イラストの製作に携わる、「作る」だけでなく、人と人を「繋ぎ」、想いが「伝わる」デザインをつくれるよう日々精進中。
                    .handson__to-detail
                        .handson__to-detail__title ハンズオンの詳細、参加の注意点などはConnpassページをチェック！
                        .handson__to-detail__btn
                            a.handson__to-detail__link(href="https://kfug.connpass.com/event/49904/" ,target="_blank")
                                span 詳細を見る